/*Make all the elements non selectable except the .result_section and .textarea_section*/

*:not(.result_section):not(.textarea_section) {
  user-select: none;
}

body {
  background: linear-gradient(black, grey, white 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: serif;
  cursor: auto;
}

h1 {
  color: white;
  text-indent: 50px;
  font-size: 2em;
}

button {
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  width: max-content;
  padding: 3px 15px 3px 15px;
  font-weight: bolder;
  margin: 10px;
  user-select: auto !important;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  color: grey;
}


/*by using a parent div (#wrap) we are able to give the button (check_valid_button) both  pointer-events: none; and cursor: not-allowed*/

#wrap {
  cursor: not-allowed !important;
  width: min-content;
  position: absolute;
  left: 50%;
  top: 90%;
}

#wrap>button {
  width: min-content;
  pointer-events: none;
  white-space: nowrap;
  margin: 0px;
}

#copy {
  position: absolute;
  left: 85%;
  top: 88%;
}


/*custom the position for all button except the button incide #wrap and #copy button*/

button:not(#wrap button):not(#copy) {
  position: relative;
  left: 5%;
}

#number {
  text-align: center;
  margin-left: calc(8vw);
  border-radius: 10px;
  width: 25vw;
  height: 15vh;
  font-size: calc(1.75vw);
  padding: 5px;
  padding-top: calc(1vh);
  background-color: ghostwhite;
}

.result_section {
  float: right;
  position: absolute;
  top: 15%;
  left: 50%;
}

#number div {
  color: green;
  font-size: calc(3vw);
  margin-top: calc(2vh);
}


/*custom the content for #textarea when nothing is in it*/

#result:empty::before {
  content: attr(data-placeholder2);
  color: rgba(0, 0, 0, 0.5);
}


/*
#result,
#textarea {
  overflow-y: scroll;
}
*/


/* hide the scroll bar for #result and #textarea, this will only work for webkit and chrome*/

#result::-webkit-scrollbar,
#textarea::-webkit-scrollbar,
#result::-webkit-scrollbar-thumb,
#textarea::-webkit-scrollbar-thumb {
  appearance: none;
}

a:visited {
  color: blue;
}


/*in order not to mess up and since css is a layout language, we could use margin instead to custom the position*/

#result {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 40vw;
  height: 40vh;
  background-color: rgba(200, 200, 200);
  border-radius: 5px;
  padding: 20px;
  margin-top: calc(10vh);
  position: relative;
}


/*prevent line break for #result (make every a tag display in 1 line) and represent overflowed test use ellipsis (...)*/

#result>a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}


/*custom the content for #textarea when nothing is in it*/

#textarea:empty::before {
  content: attr(data-placeholder1);
  color: rgba(0, 0, 0, 0.5);
}

#textarea {
  width: 35vw;
  height: 70vh;
  font-size: 20px;
  line-height: 1.2em;
  padding: 15px;
  background-color: white;
  margin-left: calc(3.5vw);
  margin-top: calc(7vh);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/*costom the height for br*/

br {
  display: block;
  content: "";
  margin: 7.5px
}

.pass {
  background-color: lightgreen;
  font-style: italic;
}

.fail {
  background-color: rgba(255, 127, 127, 0.95);
  font-weight: bold;
}
